@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
.sidebar {
  background-color: rgba(7, 104, 108, 0.363);
}
.side {
  background-color: rgba(3, 116, 134, 0.951);
}
.introduction {
  font-size: 1.2rem;
}
.display p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.header {
  display: flex;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.myPhoto {
  display: flex;
  justify-content: center;
}
.myInfo {
  font-size: 1rem;
}
.myPhoto img {
  width: 15vw;
  margin: 5vw;
  border-radius: 10px;
}
.download {
  display: flex;
  justify-content: center;
}
.download a {
  text-decoration: none;
  color: cornsilk;
}
.title {
  font-size: 1.5rem;
  border-bottom: solid #93d6ce 1.5px;
}
.description {
  line-height: 1.2rem;
}
.contact {
  font-size: 1.2rem;
}
@media only screen and (max-width: 992px) {
  .myInfo {
    margin-top:20px;
  }
  .myPhoto img {
    display: none;
  }
  .header {
    display: none;
  }
  .download button {
    width: 95%;
  }
  .header button {
    width: 95%;
    margin: 5px 0;
  }
  .header-hide {
    display: none;
  }
  .introduction {
    margin: 10px !important;
  }
  .container-fluid {
    padding: 0 !important;
  }
  .hamburger {
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    display: block;
  }
  .hide-hamburger {
    display: none;
  }
  .hamburger_bar {
    width: 35px;
    height: 5px;
    background-color: rgb(21, 38, 41);
    margin: 6px 0;
  }
  .menu {
    display: block;
    background-color: rgb(3, 116, 134);
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 45vh;
    top: 0;
    padding-top: 50px;
  }
  .cross {
    position: fixed;
    cursor: pointer;
    z-index: 30;
    margin-top: -30px;
    margin-left: 10px;
  }
  .hide-menu {
    display: none;
  }
  .cross_bar1 {
    width: 30px;
    height: 4px;
    background-color: white;
    transform: rotate(-45deg) translate(1px, 5px);
  }
  .cross_bar2 {
    width: 30px;
    height: 4px;
    background-color: white;
    transform: rotate(45deg) translate(2px, -5px);
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;

    padding: 20px;
    text-align: center;
  }
  .mobile-menu a button {
    width: 90% !important;
    margin-bottom: 20px;
    z-index: 1;
  }
  .skills{
    margin-left: 20px;
    margin-bottom: 50px;
  }
  .scroll-btn {
    left: 50% !important;
  }
  .title{
    font-size: 1.7rem;
    border-bottom: none;
  }
  .title-wrapper{
    margin-bottom: 2rem;
  }
  .description {
    margin-bottom: 1.5rem;
  }
  .notice, .portfolio{
    margin-bottom: 130px !important;
  }

}
.hide-menu {
  display: none;
}

@media (min-width: 901px) {
  .flex-container {
    height: 100vh;
  }
}

.table-title {
  width: 20%;
}
.portfolio p {
  font-size: 1rem;
  line-height: 1.2;
}
.p-title {
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px #7db4e6;
}

.scroll-btn {
  position: fixed;
  width: 100%;
  left: 85%;
  bottom: 80px;
  height: 30px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgba(24, 161, 116, 0.942);
}
